a:link{
    color: peachpuff;
}
a:visited{
    color: tomato;
}
body{
    background-image: url(images/Lake.jpg);

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*parallax scrolling effect */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /*parallax scrolling effect*/
    font-family: "Raleway", "sans-serif";
    font-size: 2.3rem;
    height: 100%;
    text-align: center;
    line-height: 2.7rem;
}
#Car-Ford-GT{
    float: right;
    position: relative;
    bottom: 3rem;
    left: 2.1rem;
    width: 30rem;
    border-radius: 1rem;
}
.cloud_left{
    position: absolute;
    top: -22%;
    left: -5%;
    animation-name: move_cloud_from_left;
    animation-duration: 32s;
    animation-iteration-count: infinite;
}
.cloud_right{
    position: absolute;
    top: -27%;
    right: -5%;
    height: 30%;
    animation-name: move_cloud_from_right;
    animation-duration: 32s;
    animation-iteration-count: infinite;
}
.contact-me-button {
    border: 0;
    line-height: 3;
    border-radius: 15px;
    padding: 0 1.25rem;
    text-align: center;
    background-color: violet;
}
.container{
    background-color: moccasin;
    margin: 4%;
    padding: 3%;
    border-radius: 15px;
    position: relative;
}
#container1{
    background-color: moccasin;
    margin: 4%;
    padding: 3%;
    padding-top: 13%;
    border-radius: 1rem;
    position: relative;
}
.CV_container{
    background-color: skyblue;
    margin: 4%;
    padding: 3%;
    border-radius: 1rem;
    position: relative;
}
#CV:hover{
    cursor: pointer;
    animation-name: expand;
    animation-duration: 0.3s;
}
#Education{
    text-align: start;
}
#footer{
    position: relative;
    background-color: moccasin;
    border-radius: 1rem;
    line-height: 1;
    padding: 20rem auto;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-top-color: lightgray;
    border-width: 0.5rem;
    width: 10rem;
}
h1{
    color: goldenrod;
    font-family: "Tangerine", serif;
    font-weight: 300;
    font-size: 7rem;
}
h2{
    color: goldenrod;
    font-family: "Tangerine", serif;
    font-weight: 300;
    font-size: 4.5rem;
    line-height: 1.1;
}
h3{
    color: rgb(0, 163, 163);
}
.icon {
    text-decoration: none;
    background-color: mediumturquoise;
    position: relative;
    border-radius: 1rem;
    width: 3rem;
    height: 3rem;
    padding-top: 0.6rem;
}
.icon:hover{
    animation-name: expand_icon;
    animation-duration: 0.3s;
}
.intro_paragraph{
    margin: 0;
    padding: 0;
}
@keyframes expand {
    50% {transform: scaleX(1.02) scaleY(1.1);}
    100% {transform: scaleX(1) scaleY(1);}
}
@keyframes expand_icon {
    50% {transform: scaleX(1.3) scaleY(1.3);}
    100% {transform: scaleX(1) scaleY(1);}
}
@keyframes move_cloud_from_left {
    0% {transform:translateX(0);}
    45%{transform: translateX(200%);}
    100% {transform:translateX(0);}
}
@keyframes move_cloud_from_right {
    0% {transform:translateX(0);}
    45%{transform: translateX(-200%);}
    100% {transform:translateX(0);}
}
.label{display: none;}
li{
    list-style: none;
}
.profile{
    display: block;
    position: relative;
}
#profile_header{
    display: block;
    height: 300px;
    position: relative;
}
#profile_image{
    height: 17%;
    width: 17%;
    border-radius: 100%; 
    vertical-align: -400%; 
}
#red-black-tree{
    float: left;
    left: 2rem;
    margin-right: 3rem;
}
#red-black-tree-header{
    line-height: 0.25;
}
.skillset{
    text-decoration: underline;
}
#trees1{
    position: relative;
    right: 25%;
    width: 20%;
    vertical-align: middle;
}
#trees2{
    position: relative;
    left: 25%;
    width: 20%;
    vertical-align: middle;
}
#Video-Game-Project-Icon{
    float: left;
    left: 2rem;
    height: 30rem;
    margin-left: 5rem;
    margin-right: 3rem;
    border-radius: 1rem;
}
